{% extends 'login.html' %}

{% block header %}
	<div>Welcome, manager!</div>
{% endblock %}

{% block content %}
	<a id="goback" href="{{ url_for('owner') }}"><- Go back</a>
	<p id="msg">View stylist accounts</p>
	<div>_______________________________________</br></br></div>
	{% if stylists %}
		{% for stylist in stylists %}
			<div>
				<span id="ifMsg">
					{{stylist.usr}}
					<a href="{{url_for("stylist", target=stylist.usr, ut="o")}}">
					(View profile)</a>
				</span>
				<div id="aptm">Appointments:</div>
				{% if stylist.free == False %}
					{% for appt in stylist.appt %}
						<div class="appt">
							{{appt.dt.year}}/{{appt.dt.month}}/{{appt.dt.day}} - H {{appt.dt.hour}} 
							&nbsp;&nbsp;&nbsp;{{appt.patron.usr}}
							<a href="{{url_for("patron", target=appt.patron.usr, ut="o")}}">
							(View profile)</a>
						</div>
					{% endfor %}
				{% else %}
					<div class="appt">No appointments</div>
				{% endif %}
			</div>
		{% endfor %}
	{% else %}
		<div><span id="ifMsg">No stylist accounts</span></div>
	{% endif %}

	<a id="msg" href="{{ url_for('logout') }}">* Log out</a>

{% endblock %}